# Logs NetGuard
netguard.log
*.log

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# OS
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo

# Données sensibles
blocked_ips.txt
whitelist_custom.txt
netguard_users.json
netguard_service.vbs

# Fichiers générés
*.exe
netguard_icon.png

# Données volumineuses
backups/
captures/
reports/
